git+https://github.com/furaga/mk8dx-digit-ocr.git
obs-websocket-py
black
pandas
plotly
dash
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
streamlit 
streamlit-image-select